@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

body{
    height: 100vh;
    text-align: center;
    background-color: aliceblue;
    padding: 0.1rem;
}

.header-content{
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color:navy;
    text-decoration: none;
    gap: 0.625rem;
}

.logo-icon{
    height: 5.875rem;
    width: 1.938rem;
}

.logo-text{
    font-size: 2rem;
    font-weight: bold;
}

.nav{
    display: none;
    gap: 1.5rem;
}

@media screen and (min-width:828px) {
    .nav{
        display: flex;
    }
}

.nav-link{
    font-size: 1.125rem;
    font-weight: 600;
    color: gray;
    transform: color 1.5s;
}

.nav-link:hover{
    color:navy;
}

.contact-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: navy;
    color: whitesmoke;
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (min-width:828px){
    .contact-button{
        display: block;
    }
}

.contact-button:hover{
 background-color: #5254f8;
}

.menu-button {
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--background-color);
    font-size: 1rem;
    padding: 0.5rem 0.9rem;
    font-weight: 600;
}

@media screen and (max-width:768px) {
    .menu-button {
        display: block;
    }
}

.menu-icon {
    height: 1.5rem;
    width: 1.5rem;
}

.header{
    border: 1px solid gray;
}
